/* common code  */
*{
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
.primary-gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
:root{
    --text-gray: #534C64;
    --primary-color: #0B0223;
}
.banner h1{
    font-size: 95px;
    font-weight: 900;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px 0;
}
strong {
    font-weight: 900;
}

h2{
    font-size: 48px;
}
h3{
    font-size: 32px;
}
.primary-btn{
    border-radius: 48px;
    border: none;
    font-size: 20px;
    padding: 20px 40px;
}
span{
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* header section start here  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
nav h2{
    display: inline;
    font-weight: 700;
}
nav li{
    display: inline;
    padding-left: 50px;
}
nav li a{
    color: var(--primary-color);
}
nav button{
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
}
nav  button i{
    padding: 0 10px;
    font-size: 20px;
    color: red;
}
/* main section start here  */
/* banner section start here  */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
}
.banner p{
    padding: 7px 0px 7px 30px;
}
.play {
    background: url(./images/play.png) no-repeat center left 3px;
}
.download{
    background: url(./images/download.png) no-repeat center left 3px;
}
.support{
    background: url(./images/man.png) no-repeat center left 3px;
}
.banner button{
    margin: 20px 20px 20px 0;
}
.first-btn{
    background-color: #F948B2;
    color: white
}
.second-btn{
    background-color: #4EC5F7;
    color: #fff;
}
/* we are gamer section start here  */
.we-are-gamer{
    background-color: #FFF9FC;
}
.we-are-gamer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    padding: 100px 0;
}
.we-are-gamer_container section{
    width: 50%;
}
.we-are-gamer_container h2{
    padding: 25px 0;
}
.we-are-gamer_container p{
    color: var(--text-gray);   
}
.we-are-gamer_container button{
    background-color: #F948B2;
    color: white;
    margin: 25px 0;
    
}
.we-are-gamer_container h3{
    color: var(--text-gray);
    font-weight: 400;
}
.we-are-gamer_container .h3{
    font-weight: 900;
}
.we-are-gamer_container img{
    width: 100%;
}

/* .online-game section start here  */
.online-game section{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.online-game .center {
    text-align: center;
}
.img-container{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}
.img-container > img{
    display: block;
    object-fit: cover;
    object-position: center;
}
.content{
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container > img,
.img-container > .content{
    transition: 200ms ease-in-out;
}
.img-container:hover > img.blur{
    filter: brightness(50%);
}
.img-container > .content.fade{
    opacity: 0;
}
.img-container:hover > .content.fade{
    opacity: 1;
}
/* play instantly sections  start here  */
.play-instantly{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    gap: 300px;
    padding: 100px 0;
}
.play-instantly p, h2{
    color: var(--primary-color);
}
.play-instantly p{
    padding: 25px 0; 
}
.play-instantly section{
    flex: 1;
}
.position-rel{
    position: relative;
}
.position-abs {
    bottom: -90px;
    position: absolute;
    left: -167px;
}
/* play online sections  start here  */
.play-online{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    gap: 300px;
    padding: 100px 0;
}
.play-online  p , .play-online  h2  {
    color: var(--primary-color);
    text-align: left;
}
.play-online p{
    padding: 25px 0; 
}
.play-online section{
    flex: 1;
}
.p-rel{
    position: relative;
}
.p-abs {
    bottom: -90px;
    position: absolute;
    right: -167px;
}
/* Careers section start here  */
.careers{
    background-image:   url(./images/Group\ 65.png), url(./images/Rectangle\ .png);
    background-repeat:  no-repeat ;
    background-position: right ;
    color: #fff;
    padding: 100px 0;
}
.careers_flex{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.careers h2{
    color: #fff;
    padding: 25px 0;
}
.careers button{
    color: #F948B2;
}
/* button section start here  */
.btn-list{
    border-radius: 48px;
    border: none;
    font-size: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn-list:hover{
    border: 2px solid #F948B2;
    color: #F948B2;
}
.buttons{
    padding: 100px 0;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* footer section start here  */
footer{
    text-align: center;
    background-color: #0B0223;
    padding: 130px 0;
}
footer h2{
    display: inline;
    color: #fff;
}
footer li{
    display: inline;
    padding:0 40px;
}
footer > div{
    margin-top: 65px;
}
footer li > a{
    color: #fff;
}
footer > p{
    color: #fff;
    padding: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* header section start here  */
    nav{
        flex-direction: column;
        text-align: center;
    }
    nav li{
        display: block;
        padding: 30px 0;
    }
    nav img{
        width: 80px;
    }
    /* main section start here  */
    /* banner section start here  */
    .banner-container {
        flex-direction: column-reverse;
    }
    .banner{
        background-image:none;
    }
    .banner_left-side {
        background-image: url(./images/Group\ 14.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
        padding: 50px 18px;
    }
    .banner p {
        text-align: left;
        margin-left: 24px;
    }
    .banner img{
        width: 100%;
    }
    /* we are gamer section start here  */
    .we-are-gamer{
        background-color: #FFF9FC;
    }
    .we-are-gamer_container{
        flex-direction: column;
        text-align: center;
        padding: 100px 0;
    }
    .we-are-gamer_container section{
        width: auto;
    }
    /* .online-game section start here  */
    .online-game section{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 50px 0;
        text-align: center;
    }
    .img-container{
        width: 100%;
    }
    .content{
        display: none;
    }
    img{
        margin: auto;
        width: 80%;
    }
    /* play instantly sections  start here  */
    .play-instantly{
        flex-direction: column;
        text-align: center;
        gap: 100px;
        padding: 100px 0;
    }
    .position-rel{
        width: 90%;
        margin: 0 auto;
    }
    .position-abs {
    bottom: -63px;
    left: -12px;
    width: 40%;
}
    /* play online sections  start here  */
    .play-online{
        flex-direction: column-reverse;
        text-align: center;
        gap: 100px;
        padding: 100px 0;
    }
    .play-online  p , .play-online  h2  {
        text-align: center;
    }
    .p-rel{
        width: 90%;
        margin:0 auto;
    }
    .p-abs {
        bottom: -70px;
        right: -4px;
        width: 40%;
    }
    /* Careers section start here  */
    .careers{
        display: none;
    }
    /* button section start here  */
    .btn-list{
        border-radius: 30px;
        font-size: 10px;
        padding: 10px;
    }
    .buttons{
        padding: 10px 0;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .btn-list img{
        width: 30px;
    }
    /* footer section start here  */
    footer{
        text-align: center;
        padding: 130px 0;
    }
    footer img{
       width: 20%;
       margin: auto;
    }
    footer li{
        display: inline;
        padding: 0 ;
    }
    footer > div {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 39px 14px;
        justify-content: center;
    }
    footer > div >  li > a >img {
        width: 70%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
    /* header section start here  */
    nav{
        justify-content: space-around;
    }
    nav li{
        padding: 0 10px 0 30px ;
    }
    nav button{
        padding: 15px 20px;
    }
    nav img{
        width: 70px;
    }
    /* main section start here  */
    /* banner section start here  */
    .banner-container {
        flex-direction: column-reverse;
    }
    .banner{
        background-image:none;
    }
    .banner_left-side{
        background-image: url(./images/Group\ 14.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0;
        text-align: left;
        width: 98%;
    }
    .banner p{
        text-align: left;
    }
    .banner img{
        width: 100%;
    }
    /* we are gamer section start here  */
    .we-are-gamer{
        background-color: #FFF9FC;
    }
    .we-are-gamer_container{
        flex-direction: column;
        text-align: center;
        padding: 100px 0;
    }
    .we-are-gamer_container section{
        width: auto;
    }

    /* .online-game section start here  */
    .online-game section{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 0;
    text-align: center;
    }
    .img-container{
        width: 100%;
    }
    .content{
        display: none;
    }
    img{
        margin: auto;
        width: 80%;
    }
    /* play instantly sections  start here  */
    .play-instantly{
        flex-direction: column;
        text-align: center;
        gap: 100px;
        padding: 100px 0;
    }
    .position-rel{
        width: 90%;
        margin: 0 auto;
    }
    .position-abs {
    bottom: -63px;
    left: -12px;
    width: 40%;
}
    /* play online sections  start here  */
    .play-online{
        flex-direction: column-reverse;
        text-align: center;
        gap: 100px;
        padding: 100px 0;
    }
    .play-online  p , .play-online  h2  {
        text-align: center;
    }
    .p-rel{
        width: 90%;
        margin:0 auto;
    }
    .p-abs {
        bottom: -70px;
        right: -4px;
        width: 40%;
    }
    /* Careers section start here  */
    .careers{
        background-image:   url(./images/Group\ 65.png), url(./images/Rectangle\ .png);
        background-repeat:  no-repeat ;
        background-position: bottom ,top ;
        background-size: contain , cover ;
        color: #fff;
        padding: 100px 50px 625px 50px;
    }
    .careers_flex{
        justify-content: space-between;
        width: 100%;
    }
    .careers h2{
        color: #fff;
        padding: 25px 0;
    }
    .careers button{
        color: #F948B2;
    }
    /* button section start here  */
    .btn-list{
        border-radius: 30px;
        font-size: 15px;
        padding: 10px;
    }
    .buttons{
        padding: 10px 0;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .btn-list img{
        width: 40px;
    }
    /* footer section start here  */
    footer li{
        padding:30px;
    }
    footer > div{
        margin-top: 65px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    footer li > a{
        color: #fff;
    }
    footer > p{
        color: #fff;
        padding: 30px;
    }
    footer img{
        width: 50px;
    }
}

